/Numbers/nbproject/private/
/Numbers/build/
/ICE_4/nbproject/private/
/ICE_4/build/
/TestBank/nbproject/private/
/TestBankArrays/nbproject/private/
/TestBankArrays/build/
/Arrays/nbproject/private/
/ArraysExample/nbproject/private/
/ArraysExample/build/
